  h1 {
    color: rgb(11, 184, 20);
    font-family:'Times New Roman', Times, serif}

  body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 7, 12);}

  footer{
    background-color: brown;
    color: rgb(0, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center; 
    
  
    width: 100;}

    /* .endereco {
      bottom: 45px;
      left: 0;
      width: 100%;
      background-color: aliceblue;
      text-align: center;

    }