  h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 7, 12);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  body>h1 body>h2 body>p body>ul body>ol body>hr body>form body>.endereco,
  body>table {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  h1,
  h2 {
    font-family: 'Times New Roman', Times, serif;
  }

  body>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  input:focus,
  select:focus,
  textarea:focus {
    background-color: rgb(209, 152, 152);
  }


  nav {
    background-color: rgb(155, 123, 123);
    color: rgb(155, 123, 123);
    position: sticky;
    top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 24px;
  }


  NAV>a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  .links-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  table {
    width: 100%;
  }

  th {
    background-color: rgb(155, 123, 123);
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    text-align: center;
  }

  td {
    padding: 8px;
    text-align: center;
  }


  footer {
    background-color: rgb(155, 123, 123);
    color: rgb(0, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-top: 32px;
    padding: 24px 0 16px;
  }

  footer>div {
    display: flex;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  footer section {
    flex-grow: 1;
  }

  footer iframe {
    width: 100%;
  }

  footer p {
    text-align: center;
  }

  .endereco {
    bottom: 45px;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    text-align: center;

  }


  .botao-reserva {
    background-color: rgb(155, 123, 123);
    border-radius: 4px;

    color: aliceblue;
    text-decoration: none;
    padding: 12px 16px;

    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 2;

  }

  .botao-reserva:hover {
    background-color: brown;
  }

  .cardapio-img {
    width: 130px;
    height: 110px;
    object-fit: cover;
    flex-shrink: 0;
  }